.partners {
  margin-top: 128px;
  padding: 0px 33px;

  &__row {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 459px;
      height: 325px;
      background-image: url(../img/partners/pngegg_35.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 459px;
      height: 325px;
      background-image: url(../img/partners/pngegg_34.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    padding-top: 10px;
    padding-bottom: 70px;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
  }

  &__list-item {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
  }

  &__discount {
    display: flex;
    justify-content: space-evenly;
  }

  &__discount-item {
    img {
      width: 100%;
    }
  }
}
.container {
}
